<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>VUE</title>
</head>

<body>
    <div id="app">
        <form action="">
            <label for="username">
                账号：
                <input type="text" placeholder="请输入账号" name="username" v-model='userName'>
            </label>
            <label for="pwd">
                密码：
                <input type="password" placeholder="请输入密码" name="pwd" v-model='pwd'>
            </label>
            <input type="button" value="提交" v-on:click='handleSubmit()'>
        </form>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                userName: "",
                pwd: "",
            },
            methods: {
                handleSubmit: function() {
                    console.log(this.userName, this.pwd);
                }
            },
        });
    </script>
</body>

</html>