<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue计算器</title>
</head>

<body>
    <div id="app">
        <h1>简单计算器</h1>
        <label for="num1">
        数值A：
        <input type="text" id="num1" v-model='num1'>
        </label>
        <br>
        <label for="num2">
            数值B：
            <input type="text" id="num2" v-model='num2'>
        </label>
        <br>
        <button @click='add'>计算</button>
        <p>计算结果: <span>{{result}}</span></p>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                num1: '',
                num2: '',
                result: '',
            },
            methods: {
                add: function() {
                    this.result = Number(this.num1) + Number(this.num2);
                }
            },
        });
    </script>
</body>

</html>